h1 {
	text-shadow: 5px 5px 5px #FF0000;
}

#difficulty, #legend, #flagDiv, #canvasDiv
{
	margin-left:auto;
	margin-right:auto;
	border:1px solid;
	border-radius:15px;
	-webkit-border-radius:25px; 
	background-color:#C0C0C0;
	width:650px;
	height:150px;
	padding-left:50px;
	padding-top:25px;
}	


#legend > span {
	margin-left:25px;
}

#canvasDiv {
	margin-left:auto;
	margin-right:auto;
	position:relative;
	width:650px;
	height:650px;
	padding-left:50px;
	padding-top:50px;
	background-color:#C0C0C0;
}