body {
	margin:0;
	padding:0;
	color:#000;
	background:#a7a09a;
	height: 100%;
}

h1 {
	text-shadow: 5px 5px 5px #FF0000;
    -webkit-transform: translate(150px);
    -webkit-transform: scale(1,2);

}

#container {
	width:600px;
	margin-left:auto;
	margin-right:auto;
}
div.center {
	border:1px solid;
	border-radius:15px;
	-webkit-border-radius:25px; 
	background-color:#C0C0C0;
    padding-bottom: 5px;
}
div.center {
	padding-left:15px;
	text-align: center;
	padding-top:10px;
}

#legend {
	text-align: center;
}

#canvasDiv {
	text-align: center;
	padding-top:15px;
	padding-right:10px;
}